* {
	outline: none;
}
*:focus {
	outline:none;
}
body {background-color: #000;
	height: 100%;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: lowercase;
	color: #fff;
}
.content-container {
	padding: 1% 0;
	text-align: center;
}
.answer-wrapper {
	background: url(../images/crystal.png);
	background-repeat:no-repeat;
	width: 400px;
	height:500px;
	margin: 20px auto;
	position: relative;
}
#answer {
	position: absolute;
    top: 140px;
    left: 150px;
}
h1,
h2 {
	color: #eafef2;
	font-family: 'Fondamento', cursive;
	text-transform: initial;
}
h1 {
	font-size: 7em;
	text-transform: uppercase;
	animation-name: fontSwap;
    animation-duration: 4s;
}
h2 {
	font-size: 2em;
	line-height: 1.4;
}
h4 {
	font-weight: 300;
}
p {
	color: #eafef2;
}
@-webkit-keyframes fontSwap {
	0%   {color: #FFEFB9;}
    25%  {color: #A9E7DA;}
    50%  {color: #FFC2B9;}
    50%  {color: #FFDEE0;}
    100% {color: #C9CBE7;}
    /*from {color: #eafef2;}
    to {color: #E0DEFF;}*/
}
/* Standard syntax */
@keyframes fontSwap {
	0%   {color: #FFEFB9;}
    25%  {color: #A9E7DA;}
    50%  {color: #FFC2B9;}
    50%  {color: #FFDEE0;}
    100% {color: #C9CBE7;}

    /*from {color: #eafef2;}
    to {color: #E0DEFF;}*/
}
form{
	margin: 1% 0;
}
input, button {
	color: #E0DEFF;
    border: 1px solid #E0DEFF;
    background-color: transparent;
    text-transform: lowercase;
    text-align: center;
    line-height: 1.5;
    padding: 5px 15px;
    cursor: pointer;
}
#letter-sub-btn:disabled {
	background-color: #E0DEFF;
	color: #000;
	cursor: initial;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
.row {
	margin: 0;
}
#input-container {
	min-height: 106px;
}
/*.score-wrap {
	border: .5px dotted #ccc;
}*/
.remove {
	display: none;
}
.hide {
	visibility:hidden
}
.winlose-wrapper, .currentgame-wrapper{
	width: 200px;
	height: 322px;
	margin: 0 auto;
}
.fan-card, .card-fan {
	width: 200px;
	height: 322px;
	border: 1px solid #E0DEFF;
	box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
	position: absolute;
	background: url(../images/card-1.jpg) no-repeat;
	background-size: 100%;
}
.fan-card:last-child , 
.card-fan:last-child {
	background: url(../images/top-card.jpg) no-repeat;
	background-size: 100%;
}
.fan-card:first-child , 
.card-fan:first-child {
	background: url(../images/card-2.jpg) no-repeat;
	background-size: 100%;
}
.winlose-wrapper:hover .fan-card:first-child, .currentgame-wrapper:hover .card-fan:last-child {
	transform: rotate(-12deg);
}
.currentgame-wrapper:hover .card-fan:first-child, .winlose-wrapper:hover .fan-card:last-child {
	transform: rotate(12deg);
}
.winlose-wrapper p, .currentgame-wrapper p {
	margin-top: 60px;
	font-family: 'Fondamento', cursive;
	font-size: 16px;
}
.winlose-wrapper span, .currentgame-wrapper span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: lowercase;
	display: block;
}

/*transform: rotate(-12deg);*/

@media only screen and (max-width: 991.98px) { 
	.wraps {
		display: flex;
		flex-direction: column;
	}
	.o1 {
		order: -1;
		float:left;
	}
	.o2 {
		order: 2;
		padding: 0;
	}
	.winlose-wrapper, .currentgame-wrapper {
	    width: 150px;
	    height: 240px;
	    margin: 0 auto;
	}
	.fan-card, .card-fan {
	    width: 150px;
	    height: 240px
	}
	.winlose-wrapper p, .currentgame-wrapper p {
		margin-top: 40px;
	}
}